@page
@using System.Linq
@using Labb2API.Backend.Controllers
@using Labb2API.Backend.DAL.Models
@model Labb2API.Pages.CoursesModel
@{
    ViewData["Title"] = "Courses";
    var fetchString = "/controller/courses/";
}

<div class="text-center">

@if (@Model.Courses.Count <= 0)
{
    <div>Vart är alla..?</div>
}
else
{
    <table id="UserTable" class="table table-hover">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Difficulty</th>
            <th>Active</th>
            <th>Buttons</th>
        </tr>
        </thead>
        
        @foreach (var course in @Model.Courses)
        {
            <tr>
                <td>@course.Id</td>
                <td>@course.Title</td>
                <td>@course.Description</td>
                <td>@course.Duration</td>
                <td>@course.Difficulty</td>
                <td>@course.Status</td>
                <td>
                    <form method="post">
                        <input type="hidden" value="@course.Id" asp-for="CourseId"/>
                        <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Delete</button>
                    </form>
                    <button class="btn btn-primary">Edit</button>
                </td>
            </tr>
        }
    </table>
}
</div>