@page
@using System.Text.Json.Nodes
@model UsersModel
@{
    ViewData["Title"] = "Users";
}

<div class="text-center">
    @*Can't have metod as get, asp-page-handler won't work *@
    <form method="post">
        <input type="text" value="" asp-for="UserEmail"/>
        <button type="submit" asp-page-handler="One" class="btn btn-primary">Search</button>
    </form>
    <form method="get">
        <button type="submit" class="btn btn-primary">Get all users</button>
    </form>
    @if (@Model.Users.Count <= 0)
    {
        <div>Vart är alla..?</div>
    }
    else
    {
        <table id="UserTable" class="table table-hover">
            <thead class="table-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>activeCourses</th>
                <th>Buttons</th>

            </tr>
            </thead>

            @foreach (var user in @Model.Users)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.Address</td>
                    <td>@*@user.ActiveCourses*@
                        @foreach (var course in @user.ActiveCourses)
                        {
                            <p>@course.Id</p>
                        }
                    </td>
                    <td>
                        <form method="post">
                            <input type="hidden" value="@user.Email" asp-for="UserEmail"/>
                            <button type="submit" asp-page-handler="Delete" class="btn btn-danger">Delete</button>
                        </form>
                        <button class="btn btn-primary">Edit</button>
                    </td>
                </tr>
            }
        </table>
    }
</div>